.regsiter-form{
    width: 30%;
    margin: 20px auto 0;

}
.regsiter-form input:not([type=checkbox]){
    width: 100%;
    border: 1px solid lightgray;
    padding: 15px;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 4px;
    outline: none;
}
.register-title{
    text-align: center;
    margin-bottom: 20px;
}